.header {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  border-bottom: 3px solid #d40024;
}

.header-info_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  background-color: #1e1f29;
}

.header-info_content {
  grid-column: 2 / 6;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-info_content-left {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.header-info_content-right {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;

  span {
    text-align: center;
    align-content: center;
  }
}

.header-banner_container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  background-color: #15161d;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header-banner_content {
  grid-column: 2 / 6;
  // min-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  span {
    width: 50%;
    font-size: 3rem;
    font-weight: 600;
    align-content: center;
  }
}

// Адаптив под ≤ 700px
@media (max-width: 700px) {
  .header-info_container,
  .header-banner_container {
    display: block;
  }

  .header-info_content,
  .header-banner_content {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header-info_content-left{
    display: none;
  }
  // .header-info_content-right {
  //   flex-direction: column;
  //   align-items: center;
  //   gap: 0.25rem;
  // }

  .header-banner_content span {
    width: 100%;
    font-size: 2rem;
  }
}
